button {
  cursor: pointer;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

.grid {
  display: grid;
  max-width: 200px;
}

$ember-notifier-z-index: 999999;
$ember-notifier-text-color: #000000;
$ember-notifier-primary-background-color: #5755D9;
$ember-notifier-close-button-size: 1.25rem;


@import 'ember-notifier'
