<div class="container">
  <div class="menu">
    {{#link-to "shop"}}
      <h1>
        <em>Grocery</em>
      </h1>
    {{/link-to}}
    <div class="links">
      {{#link-to "cart" class="menu-cart"}}
        Cart
      {{/link-to}}
    </div>
  </div>
  <div class="body">
    {{ember-notifier position="is-top-right"}}
    {{outlet}}
  </div>
</div>
